<h2>{{ title }}</h2>
<h2>Add new Assignment</h2>

@if(formVisible) {
   <app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)"></app-add-assignment>
} @else {
   <p>Cliquez sur le bouton pour ajouter un nouvel assignment.</p>

<div class="container">
    <button mat-flat-button color="accent" class="ajout-btn"
        (click)="onAddAssignmentBtnClick()"
    >   Ajouter Assignment
    </button>
</div>


<mat-list>
  @for (assignment of assignments; track assignment.nom) {

    <h3 mat-subheader>
      {{ assignment.dateDeRendu | date:'dd/MM/yyyy' }}
    </h3>

    <mat-list-item (click)="assignmentClique(assignment);">
      <div matListItemTitle>{{ assignment.nom }}</div>

      @if (assignment.rendu) {
        <p appRendu matListItemLine>
          … a été rendu le {{ assignment.dateDeRendu | date:'dd/MM/yyyy' }}
        </p>
      } @else {
        <p appNonRendu matListItemLine>
          Non rendu : date limite : {{ assignment.dateDeRendu | date:'dd/MM/yyyy' }}
        </p>
      }
    </mat-list-item>

    <mat-divider></mat-divider>
  }
</mat-list>

<app-assignment-detail [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail>
<!--

<h2>Here as a table</h2>
<table>
    <tr>
        <th>Assignment Name</th>
        <th>Due Date</th>
    </tr>
    @for(assignment of assignments; track assignment.nom) {
    <tr>
        <td>{{ assignment.nom }}</td>
        <td>{{ assignment.dateDeRendu }}</td>
    </tr>
    }
-->
}